<div class="left">
  <div class="title">
      <h1>uniform</h1>
      <h3> L'inscription devient plus simple </h3><br>
      <hr>
  </div>

  <table class= "pub">
      <tr>
          <td></td>
          <td><p>Un seul formulaire pour toutes les écoles</p></td>
      </tr>
      <tr>
          <td><%= image_tag ("")%></td>
          <td><p>Gérez facilement vos candidatures</p></td>
      </tr>
      <tr>
          <td></td>
          <td><p>Stockez vos données scolaire</p></td>
      </tr>
  </table>
</div>
